.head-main {
 font-family: $font-fam-sec;
 font-style: normal;
 font-weight: 400;
 font-size: 45px;
 text-transform: uppercase;
}

.card-header {
 font-family: $font-fam-sec;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 text-transform: uppercase;
}

.head-comment {
 font-family: $font-fam-sec;
 font-style: normal;
 font-weight: 400;
 font-size: 60px;
 text-transform: uppercase;

 margin-bottom: 4rem;
}
