.p-mid {
 font-family: $font-fam-pri;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 27px;
}

.p-card {
 font-family: $font-fam-pri;
 font-style: light;
 font-weight: 300;
 font-size: 12px;
}
