.youtube {
  colors: #D16E8D;
}

.articles {
  colors: #FFAC83;
}

.community {
  colors: #3F78C9;
}

.courses {
  colors: #49C4A3;
}

/*
Media Query Manager

Breakpoints : Screens         : nickname

0-600 px    : phone           : phone
600-900 px  : tablet-portrait : tab-port
900-1200 px : tablet-landscape: tab-land
1200-1800 px: normal becoz its desktop first method
1800px +    : Big Monitor     : big-screen

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.white {
  color: #efe3b8;
}

.dark {
  color: #2b002d;
}

.text-center {
  text-align: center;
}

.dropdown {
  position: absolute;
  width: 231px;
  right: 87px;
  background: #2b002d;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.dropdown__header {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #efe3b8;
  margin: 2rem 0;
}

.dropdown__tours {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  cursor: pointer;
}

.dropdown__tours--header,
.dropdown__tours--total {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* identical to box height */
  color: #efe3b8;
}

.dropdown__tours--header {
  text-align: end;
  margin-bottom: 10px;
  font-weight: bolder;
}

.dropdown__tours--cancel {
  width: 22px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.dropdown__tours--placeHolder {
  display: block;
  height: 154px;
  width: 150px;
  background-color: transparent;
}

.dropdown__tours--img {
  display: block;
  height: 154px;
  width: 104px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.dropdown__tours:hover .dropdown__tours--img {
  width: 210px;
  transition: all 1000ms ease-in-out;
}

.dropdown__tours--content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}

.dropdown__p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #efe3b8;
}

.dropdown__cta {
  text-align: center;
  width: 194px;
  height: 56px;
  border-radius: 5px;
  background-color: #efe3b8;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #2b002d;
  padding: 1.2rem 0.7rem;
  margin: 0 auto;
  cursor: pointer;
}

.nav--link:hover .dropdown {
  display: flex;
  /* property name | duration | easing function */
  transition: display 1s ease-in-out;
}

.nav {
  width: 100%;
  height: 120px;
  padding: 35px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}
.nav--links {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photoUser {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.content {
  width: 87%;
  padding-top: 125px;
  margin: 0 auto;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  font-size: 18px;
  color: #2b002d;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-heading {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
}

.card-subHeader {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.card-price {
  font-family: "Poppins", sans-serif;
  font-style: thin;
  font-weight: 200;
  font-size: 27px;
  margin-bottom: 1rem;
  line-height: 30px;
  text-align: center;
  color: #fff;
  display: none;
}

.card:hover .card-price,
.card-full:hover .card-price {
  display: inline-block;
}

.card-addToCart-btn {
  font-family: "Poppins", sans-serif;
  font-style: thin;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #2b002d;
  text-decoration: underline;
  display: none;
  cursor: pointer;
}

.card:hover .card-addToCart-btn,
.card-full:hover .card-addToCart-btn {
  display: inline-block;
}

.card {
  width: 18%;
  height: 52vh;
}

.card:hover {
  height: 46vh;
  /* property name | duration | easing function */
  transition: height 1s ease-in-out;
}

.card-full {
  width: 23%;
  height: 80vh;
  margin-right: 3rem;
}

.card-full:hover {
  height: 75vh;
  /* property name | duration | easing function */
  transition: height 1s ease-in-out;
}

.card__picture,
.card-full__picture {
  height: 90%;
  box-sizing: border-box;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__picture--header,
.card-full__picture--header {
  height: 72px;
}

.card__picture--sub-header,
.card-full__picture--sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.card__subHeader,
.card-full__subHeader {
  display: inline-block;
}

.card__link,
.card-full__link {
  height: 10%;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.card__header,
.card-full__header {
  height: 72px;
  visibility: hidden;
}

.card:hover .card__header,
.card-full:hover .card__header,
.card:hover .card-full__header,
.card-full:hover .card-full__header {
  visibility: visible;
  /* property name | duration | easing function */
  transition: visibility 1s ease-in-out;
}

.card:hover .card__link,
.card-full:hover .card__link,
.card:hover .card-full__link,
.card-full:hover .card-full__link {
  visibility: visible;
  /* property name | duration | easing function */
  transition: visibility 1s ease-in-out;
}

.card:hover .card__subHeader,
.card-full:hover .card__subHeader,
.card:hover .card-full__subHeader,
.card-full:hover .card-full__subHeader {
  display: none;
  /* property name | duration | easing function */
}

.main {
  width: 100%;
}
.main__cont {
  background-color: #2b002d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.main__cont--text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding-left: 9rem;
}
.main__cont--image {
  width: 50%;
  height: 100%;
}
.main__about {
  background-color: #efe3b8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.main__about--image {
  width: 50%;
  height: 100%;
  background-image: url("./assests/images/hair-1.jpg");
  background-size: 120% 100%;
  background-repeat: no-repeat;
}
.main__about--textBox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__shop {
  background-color: #2b002d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.main__shop--shopContent {
  width: 90%;
  height: 75%;
}
.main__shop--header {
  width: 453px;
  margin-bottom: 5rem;
}
.main__shop--cards {
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__fav {
  background-color: #efe3b8;
  padding-top: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main__fav--header {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__fav--cards {
  width: 45%;
  height: 100%;
}
.main__comments {
  background-color: rgba(166, 96, 58, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main__comments--video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.main__comments--textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
}
.main__contacts {
  background-color: #efe3b8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}
.main__contacts--cta, .main__contacts--address {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 9rem;
}

.contacts__title {
  width: 315px;
  height: 57px;
  margin-bottom: 6rem;
}
.contacts__cta {
  width: 601px;
  height: 450px;
}
.contacts__address {
  margin-bottom: 1.2rem;
}
.contacts__address--title {
  width: 200px;
  height: 31px;
  margin-bottom: 0.6rem;
}
.contacts__address--text {
  width: 422px;
  height: 19px;
}

.card-sec {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.card-sec__img {
  width: 253px;
  height: 193px;
}
.card-sec__textBox {
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-sec__textBox--text {
  width: 320px;
  height: 114px;
  margin-bottom: 0.8rem;
}

.mfHeader {
  width: 367px;
  height: 133px;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-main__img {
  width: 390px;
  height: 362px;
  margin-bottom: 0.8rem;
}
.card-main__header {
  width: 171px;
  margin-bottom: 0.8rem;
}
.card-main__text {
  width: 273px;
}

.pri-textBox {
  width: 80%;
  margin-bottom: 3rem;
}

.pri-btn {
  width: 270px;
  height: 86px;
  margin-bottom: 8rem;
  border-radius: 10px;
  background-color: #efe3b8;
  border: 1px solid #efe3b8;
  cursor: pointer;
}

.tbHeader {
  width: 380px;
  margin-bottom: 5rem;
}

.tbText {
  width: 592px;
  height: 320px;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.head-main {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
}

.card-header {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.head-comment {
  font-family: "Alice", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.link {
  color: #2b002d;
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: light;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.p-mid {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.p-card {
  font-family: "Poppins", sans-serif;
  font-style: light;
  font-weight: 300;
  font-size: 12px;
}

/*# sourceMappingURL=App.css.map */
